

.tutorial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 60%;
    height: fit-content;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    padding: 20px;

    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.image-holder {
    display: flex;
    flex-direction: row;
}
.tutorial-information {

}
