.scoreboard {
  display: grid;
  gap: 10px;
  max-height: 90%; /* Set a maximum height for the scoreboard container */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds max height */
}

.scoreboard-latestScore {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  padding: 10px;
  font-size: 50px;
  background-color: #F6F6F8;
  width: 70%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the section horizontally */
}

.scoreboard-header {
  display: grid;
  grid-template-columns: 0.9fr 3.1fr 1.8fr;
  align-items: center;
  padding: 10px;
  font-size: 35px;
  position: sticky;
  top: 0; /* Stick the header to the top of the scrolling container */
  z-index: 1; /* Ensure the header is above the scrolling content */
  background-color: #F6F6F8;
}

.header-label {
  text-align: center;
}

.scoreboard-entry {
  display: grid;
  grid-template-columns: 0.2fr 2fr 2.5fr 1fr;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  background-color: white;
  font-size: 25px;
}

.highlighted-entry {
  background-color: #ffaab3a9; /* Define the background color for highlighted entry */
}

img {
  max-width: 40px;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  margin-bottom: 20px; /* Add some margin for spacing */
}